/* === General styles === */

@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300;400;600&display=swap');

:root {
  --dark-blue: #023047;
  --light-blue: #8ECAE6;
  --medium-blue: #8ECAE6;
  --yellow: #FFB703;
  --orange: #FB8500;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  font-family: 'Georama', sans-serif;
  /* Wodurch entsteht der Overflow? */
  /* Dadurch, dass box-sizing nicht auf border-box gesetzt war! */
}

main {
  margin: 20px 20px 40px;
}


/* === Navigation === */

nav {
  background-color: var(--dark-blue);
  color: white;
  font-size: 1.1em;
}

.nav-link a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.nav-link a:hover {
  background-color: var(--yellow);
  color: var(--dark-blue);
}

.nav-link a:active {
  background-color: var(--orange);
  color: var(--dark-blue);
}


/* === Home === */
  /* === Main === */

.destination-wrapper {
  display: flex;
  margin: 20px 0;
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row-reverse {
  flex-direction: row-reverse;
}

.destination-headline-link a {
  text-decoration: none;
  color: var(--dark-blue);
}

.image-wrapper {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.destination-img {
  background-position: center;
  background-size: 100% 100%;
}

.destination-img-asturias {
  background-image: url(./images/alberto-gasco-GKkePsCUDsw-unsplash.jpg);
  width: 300px;
  height: 400px;
}

.destination-img-menorca {
  background-image: url(./images/juliana-chyzhova-wT4pxS2ettg-unsplash.jpg);
  width: 400px;
  height: 300px;
}

figcaption small {
  display: block;
  text-align: center;
}

/* Image cannot be displayed properly if I don't add background-position and background-size to this class */
.destination-img-madeira {
  background: url(./images/jan-tokarczyk-ddmxivBrpAQ-unsplash.jpg);
  background-position: center;
  background-size: 100% 100%;
  width: 400px;
  height: 300px;
}

.destination-img-alentejo-litoral {
  background-image: url(./images/antonio-mendes-ahywiJNptok-unsplash.jpg);
  width: 400px;
  height: 300px;
}



/* === Footer === */
footer {
  background-color: var(--dark-blue);
  color: var(--light-blue);
  padding: 10px;
  height: auto;
  margin-top: auto;
}


/* === ASTURIAS, SPANIEN === */

/* Display aside next to text */
/* Create gallery with grid display */

