/* === General styles === */

@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300;400;600&display=swap');

:root {
  --dark-blue: #023047;
  --light-blue: #8ECAE6;
  --yellow: #FFB703;
  --orange: #FB8500;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  font-family: 'Georama', sans-serif;
  /* Wodurch entsteht der Overflow? */
  /* Dadurch, dass box-sizing nicht auf border-box gesetzt war! */
}

main {
  margin: 20px 20px 40px;
}


/* === Navigation === */

nav {
  background-color: var(--dark-blue);
  color: white;
  font-size: 1.1em;
  position: relative;
  min-height: 2.5em;
}

/* .nav-link span {
  height: 100%;
}

.nav-link a {
  height: 100%;
} */

.nav-link a {
  display: inline-block;
  text-decoration: none;
  color: white;
  /* padding: 10px; */
  margin: 0 10px;
  line-height: 2.5em;
}

/* .nav-link a:hover { */
.nav-link a:hover {
  background-color: var(--yellow);
  color: var(--dark-blue);
}

.nav-link a:active {
  background-color: var(--orange);
  color: var(--dark-blue);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.nav-link:last-child {
  display: none;
  padding: 10px;
  float: right;
}

/* === Home === */
  /* === Main === */

.destination-wrapper {
  display: flex;
  margin: 30px 0;
  column-gap: 30px;
  row-gap: 20px;
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row-reverse {
  flex-direction: row-reverse;
}

.destination-headline-link a {
  text-decoration: none;
  color: var(--dark-blue);
}

.image-wrapper {
  padding: 10px 10px 40px 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  width: 320px;
  height: 280px;
}

.image-wrapper figcaption {
  padding: 5px;
}

.destination-img {
  background-position: center;
  background-size: 100% 100%;
  width: inherit;
  height: inherit;
}

.destination-img-asturias {
  background-image: url(./images/alberto-gasco-GKkePsCUDsw-unsplash.jpg);
}

.destination-img-menorca {
  background-image: url(./images/juliana-chyzhova-wT4pxS2ettg-unsplash.jpg);
}

figcaption small {
  display: block;
  text-align: center;
}

/* Image cannot be displayed properly if I don't add background-position and background-size to this class */
.destination-img-madeira {
  background: url(./images/jan-tokarczyk-ddmxivBrpAQ-unsplash.jpg);
  background-size: cover;
}

.destination-img-alentejo-litoral {
  background-image: url(./images/antonio-mendes-ahywiJNptok-unsplash.jpg);
  /* width: 400px;
  height: 300px; */
} 


/* === Footer === */
footer {
  background-color: var(--dark-blue);
  color: var(--light-blue);
  padding: 10px;
  height: auto;
  margin-top: auto;
}



/* === Media queries === */

  /* === Print display === */
@media print {
  nav {
    display: none;
  }

  .image-wrapper {
    display: none;
  }

  a[href]:after {
		content: ' (URL: ' attr(href) ')';
	}
}

  /* === Breakpoints === */
@media (max-width: 800px) {
  .destination-wrapper {
    flex-direction: column;
  }

  .nav-link:not(:last-child) {
    display: none;
  }

  .nav-link:last-child {
    display: block;
  }

  /* .nav-link:last-child:hover {
    border: 1px solid var(--light-blue);
  } */

  nav.responsive > .nav-link:not(:last-child) {
    float: none;
    display: block;
    text-align: left;
  }
}


/* 

preset:
under 800px width:
  show menu icon
  hide nav links
else: // default
  show nav links
  hide menu icon

if click on icon:
  if nav has class responsive:
    remove class responsive
  else:
    add class responsive


class responsive on nav:
  menu items are each display block
  below each other
*/
